*{
    box-sizing: border-box;
}
:root{
    --yellosh:#F1EBDC;
    --mintgreen:#00DDC2;
    --green:#B6D2C1;
}
body{
    background-color: var(--yellosh);
    font-family: "inter","arial";
}

/* start nav */
header img {
    max-width: 300px;
}
.nav-phone button{
    background: none;
    border: none;
}
.nav-phone button:hover{
    color: white;
}
@media(max-width:768px){
    header{
        background-color: #c1bbb1;
        padding: 10px;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }
    header img {
        width: 200px;
    }
}
header .conten{
    display: none;
    left: 0;
    margin-top: 20px;
    width: 100vw;
    list-style: none;
    text-align: center;
    background-color: rgb(241, 240, 240);
    z-index: 1;
    border: 0 solid;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px ;
    transition: 0.2s ease;
    animation: fadeIn 0.2s;
}
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
header .conten li:hover{
    background-color: #ada89e;
}
.fa-bars{
    font-size: 25px;
    margin-right: 15px;
}

nav ul.rounded-pill {
    background-color: white;
    margin: 0 20px;
}
nav li {
    padding: 5px 20px;
    color:black ;
}
nav li .active {
    color: #00DDC2;
}
nav li .disabled{
    color: #00DDC2;
}
/* end nav */
/* start section */
@media(max-width:768px){
    .section{
        flex-direction: column-reverse;
    }
}
img.girl{
    max-height: 600px;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 400px;
}
section .intro{
    padding: 20px;
}
section h1 {
    font-family: "itim";
    text-align: center;
}
section a {
    margin-top: 20px;
    padding: 15px 30px;
    text-decoration: none;
    background-color: var(--green);
    border-radius: 10px;
    color: black;
    text-align: center;
}
.light{
    max-width: 100%;
    position: absolute;
    z-index: -1;
}
/* end section */
/* start footer */
footer{
    background-color: #c1bbb1;
}
footer a{
    color: white;
}
/* end footer */
/* start stories */
.s{
    width: 50% ;
}
.f{
    width: 40%;
}
.btn{
    background-color: var(--green);
    color: white;
    border: none;
}
.btn:hover{
    background-color: #dcf0ea;
    color: black;
}
.text-primary{
    color: black !important;
}
.h{
    min-height: 80vh;
    justify-content: center;
    align-items: center;
}
.like-btn,.dislike-btn{
    background: none;
    border: none;
}
/* end stories */
/* profile start */
.info div,.stats{
    width: 30rem;
    border-radius: 20px;
    padding: 20px;
    background-color: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    transition: ease-in 0.2s;
}

.info div:hover,.stats:hover{
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

.edit-info{
    display: none;
    top: 50%;
    animation: fade 0.4s;
    z-index: 1;
}
@keyframes fade {
    0% {opacity: 0;}
    1000% {opacity: 1;}
}
/* profile end */
/* status start*/
.num{
    background-color: var(--green);
    border-radius: 40%;
    padding: 10px 20px;
}
/* status end*/
/* story start */
.arremn{

}
/* story end */
