/* start accord */
.track {
    margin-top: 50px;
}
.track .accordion{
    width: 700px;
}
.track .accordion .accordion-item{
    border:  4px solid var(--green);
    border-radius: 3px;
    margin: 20px 10px;
}
.bg{
    width: 100%;
    height: 110%;
    position: absolute;
    z-index: -1;
}
/* end accord */